/*****************************************
       LOGO
*****************************************/
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

/*****************************************
       SEARCH
*****************************************/

.search {
  // background-color: red;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.3s;
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--grey-light-2);
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    font-size: 2rem;
    fill: var(--grey-light-3);
  }
}

/*****************************************
       USER NAVIGATION
*****************************************/

.user-nav {
  align-self: stretch;
  //   background-color: #659b77;
  display: flex;
  align-items: center;
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    
  }
  & > *:hover {
    background-color: var(--grey-light-2);
  }
  &__icon-box {
    position: relative;
    
  }

  &__icon {
    font-size: 2.25rem;
    fill: var(--grey-light-2);
   color: grey;
  }

  &__notification {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: rgb(184, 72, 90);
    border-radius: 50%;
    color:#fff;
    position: absolute;
    top:1rem;
    right:0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__user {
  }
  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right:1rem;
  }
  &__username {
      text-transform: uppercase;
      font-weight:400;
      color: rgb(161, 46, 46);
  }
}

/*****************************************
       Sidebar
*****************************************/

.sidebar-nav{
    list-style: none;
    margin-top: 1.5rem;
    font-size: 1.4rem;
  &__item{
      position: relative;
      
      &:not(:last-child){
        margin-bottom:0.5rem;
      }
    &::before{
      content:"";
      height:100%;
      width:0.5rem;
      position: absolute;
      top:0;
      left:0;
      background-color: rgb(148, 46, 46);
      transform: scaleY(0);
      transition: transform 0.2s,width .2s cubic-bezier(0,.02,1,.01) .1s,background-color .2s;
    }
    &:hover::before,&--active::before{
      transform: scaleY(1);
      width:100%;
      z-index:1;
    }
    
    &:active::before{
      background-color: rgb(168, 97, 97);;
    }
    
  }
  &__link,&__link:visited{
      text-decoration: none;
      color:var(--grey-light-2);
      display:block;

      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      z-index:10;
      position: relative;
  }
  &__link:hover{
    // color:rgb(183, 158, 201);
  }
  &__icon{
    // display: inline-block;
    font-size: 1.75rem;
    color: currentColor;
    
    margin-right: 2rem;
   
  }
}
.legal{
  font-size: 1.2rem;
  color:var(--grey-light-4);
  text-align:center;
  padding:1.2rem;

}