.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
    
}
.header{
    font-size:1.4rem !important;
    background-color: #ffffff;
    height:7rem;
    border-bottom : 1px solid var(--grey-light-1);
    box-shadow: var(--shadow);
   display:flex;
   justify-content: space-between;
   align-items:center;
}
.content{
display: flex;
min-height:50rem;
}
.sidebar{
    flex:0 0 300px;
    background-color: var(--grey-dark-1);
    box-shadow: 3 0 5px #000;
}
.menu{
  flex : 1;
  background-color: rgb(230, 221, 221);
}
.footer{
    background-color: #868080;
    height:2rem;
}